# Desabilitar logs de avisos desnecessários
loglevel=error

# Desabilitar notificações de atualização
update-notifier=false

# Evitar avisos de pacotes obsoletos
legacy-peer-deps=true

# Configuração para não usar pacotes opcionais quando possível
optional=false


